html, body {
    position: fixed; 
    overflow: hidden;
    width: 100%;
    margin: 0%;
    background-repeat: no-repeat;
    -webkit-overflow-scrolling: touch; /* Chrome/Safari */
}



.init {
	font-size: 30px;
	text-align: center;
	color: white; 
	cursor: default;
	text-shadow: 0px 0px 2px black;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}


h1 {
	font-size: 60px;
	text-align: center;
	margin-top: 7%;
	
}

h2 {
	font-size: 250px;
	text-align: center;
	margin-top: -5%;
	font-weight: normal;
}

h3 {

}

.twitter {
	margin-top: -500px;
	margin-left: 15px;
}