html, body {
    position: fixed; 
    overflow: hidden;
    width: 100%;
    margin: 0%;
    background-color: white;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-overflow-scrolling: touch; /* Chrome/Safari */
}



.init {
	font-size: 30px;
	text-align: center;
	color: white; 
	cursor: default;
	/*text-shadow: 0px 0px 1px black;*/
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.pingry {
	content: url("photos/pingry.png");
	position: absolute;
	left: 20px;
	top: 20px;
	height: 8%;
	width: 15%;
}
.stage1 {
	content: url("photos/white.png");
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 1;

}

.pingry {
	content: url("photos/pingry.png");
	position: absolute;
	left: 20px;
	top: 20px;
	height: 8%;
	width: 15%;
	z-index: 3;
}

h1{
	font-size: 60px;
	text-align: center;
	margin: auto;
	margin-top: 7%;
}

h2 {
	font-size: 17vw;
	text-align: center;
	font-weight: normal;
	position: fixed;
	left: 30%;
	top: -10%;
}

h3 {
	font-size: 3vw;
	text-align: center;
	font-weight: normal;
	position: fixed;
	left: 38%;
	top: 42%;
}

.twitter {
	position: absolute;
	width: 16vw;
	height: 25vw;
	margin-left: .5%;
	top: 50%;
	z-index: 3;
}