html, body {
    position: fixed; 
    overflow: hidden;
    width: 100%;
    margin: 0%;
    background-color: white;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-overflow-scrolling: touch; /* Chrome/Safari */
}



.init {
	font-size: 30px;
	text-align: center;
	color: white; 
	font-family: "Arial", Times, serif;
	cursor: default;
	-webkit-user-select: none; /* Chrome/Safari */
}

.stage1 {
	content: url("photos/white.png");
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 6;

}

.pingry {
	content: url("photos/pingry.png");
	position: absolute;
	left: 10px;
	top: 15px;
	height: 7vw;
	width: 7vw;
	z-index: 0;
}

.lunch {
	content: url("photos/lunch.png");
	position: absolute;
	right: 10px;
	bottom: 0px;
	height: 55px;
	width: 180px;
	z-index: 5;
}

h1 {
	font-size: 4vw;
	position: relative;
	padding: auto;
	margin-top: 8%;
	margin-bottom: -14%;
	z-index: 2;
}

h2 {
	font-size: 17vw;
	text-align: center;
	font-weight: normal;
	position: relative;
	margin-top: 25%;
	margin-bottom: -2%;
	z-index: 2;
}

h3 {
	font-size: 3vw;
	text-align: center;
	font-weight: normal;
	position: relative;
	padding: auto;
	z-index: 2;
}

h4 {
	font-size: 4.5vw;
	font-family: Driod Sans Mono;
	font-weight: normal;
	position: absolute;
	top: -5.5vw;
	right: 2.6vw;
	z-index: 2;
}

h5 {
	font-size: 1.5vw;
	font-family: Driod Sans Mono;
	font-weight: normal;
	position: absolute;
	top: 2.6vw;
	right: 2vw;
	z-index: 2;
}


.twitter {
	position: absolute;
	width: 80px;
	height: 300px;
	left: 10px;
	bottom: -245px;
	z-index: 0;
}

.twitter:hover{
	position: absolute;
	width: 17vw;
	height: 23vw;
	left: 10px;
	bottom: 50px;
	z-index: 0;
}

iframe {
	position: absolute;
	right: -40vw;
	bottom: -40vw;
	height: 53.33vw;
	width: 40vw;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	z-index: 4;
}
