html, body {
    position: fixed; 
    overflow: hidden;
    width: 100%;
    margin: 0%;
    background-color: white;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-overflow-scrolling: touch; /* Chrome/Safari */
}



.init {
	font-size: 30px;
	text-align: center;
	color: white; 
	cursor: default;
	/*text-shadow: 0px 0px 1px black;*/
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.stage1 {
	content: url("photos/white.png");
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 4;

}

.pingry {
	content: url("photos/pingry.png");
	position: absolute;
	left: 10px;
	top: 15px;
	height: 7vw;
	width: 7vw;
	z-index: 0;
}

h1{
	font-size: 4vw;
	position: relative;
	margin: auto;
	margin-top: 8%;
	margin-bottom: -14%;
}

h2 {
	font-size: 17vw;
	text-align: center;
	font-weight: normal;
	position: relative;
	margin-bottom: -3%;
}

h3 {
	font-size: 3vw;
	text-align: center;
	font-weight: normal;
	position: relative;
	margin: auto;
}

.twitter {
	position: fixed;
	width: 100px;
	height: 300px;
	left: 10px;
	bottom: -245px;
	z-index: 0;
}

.twitter:hover{
	position: fixed;
	width: 300px;
	height: 300px;
	left: 0px;
	bottom: 0px;
	z-index: 0;
}