html, body {
    position: fixed; 
    overflow: hidden;
    width: 100%;
    margin: 0%;
    background-repeat: no-repeat;
    -webkit-overflow-scrolling: touch; /* Chrome/Safari */
}



.init {
	font-size: 30px;
	text-align: center;
	color: white; 
	cursor: default;
	/*text-shadow: 0px 0px 2px black;*/
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

h2 {
	font-size: 17vw;
	text-align: center;
	font-weight: normal;
	position: fixed;
	left: 34%;
	top: -10%;
}

h3 {
	font-size: 3vw;
	text-align: center;
	font-weight: normal;
	position: fixed;
	left: 38%;
	top: 42%;
}

.twitter {
	position: fixed;
	width: 16vw;
	height: 25vw;
	margin-left: .5%;
	top: 2%;
}